/* roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* yusei fonts */
@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

/* poipins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;1,100;1,200&family=Yusei+Magic&display=swap');

/* lora */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;1,400;1,500&family=Poppins:ital,wght@0,100;0,200;1,100;1,200&family=Yusei+Magic&display=swap');

/* coda fonts */
@import url('https://fonts.googleapis.com/css2?family=Coda+Caption:wght@800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.roboto{
    font-family: 'Roboto',sans-serif;
    color: green;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.6em;
}
.yusei{
    font-family: 'Yusei Magic', sans-serif;
    font-weight: italic;
    color: red;
    font-size: 18px;
    line-height: 1.6em;
}
.popins{
    font-family: 'poppins', sans-serif;
    font-weight: italic;
    color: #fff;
    background-color: black;
    font-size: 18px;
    line-height: 1.6em;
}
.lora{
    font-family: 'Lora', serif;
    font-weight: italic;
    color: gold;
    background-color: black;
    font-size: 18px;
    line-height: 1.6em;

}
.coda{
    font-family:'Coda Caption', sans-serif; 
    font-weight: italic;
    color: black;
    background-color:#fff;
    font-size: 18px;
    line-height: 1.6em;
}